.btn {
  &-addlist {
    background-color: transparent;
    color: rgb(23, 162, 184);
    border-color: rgb(23, 162, 184);
    border-radius: 0.25rem;
    font-weight: 400;
    border: 1px solid;
    margin: 0;
  }
}
// .btn {
//     &-primary{
//         background-color: #f00;
//         color: #fff;
//     }

// }

// .logout-button
//     {
//         border: 'none';
//         background-color: rgba(255, 255, 255, 0);
//         color: rgba(255, 255, 255, 0.5);
//         outline: 'none';
//         box-shadow: 'none';
//          &:hover{
//             color: red;
//          }
//          &:focus:active{
//             border: 'none';
//             outline: 'none';
//             box-shadow: 'none';
//          }

//     }
