.content {
  &-info {
    width: 35%;
    position: absolute;
    left: 20px;
    //bottom: 20px;
    top: 15px;
    padding-left: 10px;
    color: white;
  }
  &-about {
    width: 42%;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.movie-content {
  margin: 0;
  padding: 0px 0px 0px;
}
