#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
  padding: 10px;
}

.footer {
  margin-top: 50px;
  flex-shrink: 0;
  text-align: center;
  background-color: dodgerblue;
  color: white;
}
