.navbar-nav{
    .btn{
        margin: 0;
    }
}


.autoContainer {
    position: absolute;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: black;
    background-color: black;
    top: 52px;
    width: 180px;
  }


 
 
 
 
