.section {
  &-hero {
    padding-bottom: 25px;
    padding-top: 0px;
  }

  &-moredetails {
    padding-bottom: 25px;
    padding-top: 0px;
    padding-left: 62.55px;
    padding-right: 62.55px;
  }
  // &-profile {
  //   background-position: top center;
  //   background-size: contain;
  //   background-repeat: no-repeat;
  //   width: 100vw;
  //   height: 90vh;
  //   position: relative;
  // }
}
